<% var title = 'Inscription' %>
<% include formulairecss %>

<h2>Inscrivez-vous</h2>

<form class="inscription" action="req_inscription" method="post" name="inscription">

    <span class="required_notification">Les champs obligatoires sont indiqués par *</span>
    <ul>
        <li>
            <label for="email">E-mail :</label>
            <input type="email" name="email" id="email" autofocus required/>

            <span class="form_hint">Format attendu "name@something.com"</span>
        </li>
        <li>
            <label for="mdp1">Mot de passe :</label>
            <input type="password" name="password" id="mdp1" pattern="\w{6,8}" onkeyup="validateMdp2()" title = "Le mot de passe doit contenir de 6 à 8 caractères alphanumériques." required placeholder="Mot de passe">
            <span class="form_hint">De 6 à 8 caractères alphanumériques.</span>
        </li>
        <li>
            <label for="mdp2">Confirmez mot de passe:</label>
            <input type="password" id="mdp2" required onkeyup="validateMdp2()">
            <span class="form_hint">Les mots de passes doivent être égaux.</span>
        </li>
        <li>
            <label for="nom">Nom :</label>
            <input type="text" name="nom" id="nom" placeholder="Votre nom de famille" value=""/>
        </li>
        <li>
            <label for="prenom">Prénom :</label>
            <input type="text" name="prenom" id="prenom" value="" required placeholder="Votre prénom"/>
        </li>
        <li>
            <label for="telephone">Téléphone :</label>
            <input type="tel" name="telephone" id="telephone" value=""/>
        </li>
        <li>
            <label for="siteWeb">Site web :</label>
            <input type="url" name="siteWeb" id="siteWeb" value=""/>
        </li>
        <li>
            <label>Sexe :</label>
            <div>
                <input type="radio" name="sexe" id="sexeHomme" value="H" checked/>
                <span>Homme</span>
            </div>
            <div>
                <input type="radio" name="sexe" id="sexeFemme" value="F"/>
                <span>Femme</span>
            </div>
        </li>
        <li>
            <label for="birthdate">Date de naissance:</label>
            <input type="date" name="birthdate" id="birthdate" placeholder="JJ/MM/AAAA" value="" required onchange="computeAge()"/>
            <span class="form_hint">Format attendu "JJ/MM/AAAA"</span>
        </li>
        <li>
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" disabled/>
        </li>
        <li>
            <label for="ville">Ville :</label>
            <input type="text" name="ville" id="ville" value=""/>
        </li>
        <li>
            <label for="taille">Taille :</label>
            <input type="range" name="taille" id="taille" min="0" max="2.50" step="0.01" oninput="afficherTaille() value="""/>
            <span id="tailleSpan">1.25 m</span>
        </li>
        <li>
            <label for="couleur">Couleur préférée :</label>
            <input type="color" name="couleur" id="couleur" value="black" value=""/>
        </li>
        <li>
            <label for="profilepicfile">Photo de profil:</label>
            <input type="file" id="profilepicfile" onchange="loadProfilePic()"/>
            <span class="form_hint"></span>
            <input type="hidden" name="profilepic" id="profilepic" value=""/>
            <canvas id="preview" width="0" height="0"></canvas>
        </li>
        <li>
            <input type="submit" value="Soumettre Formulaire">
        </li>
    </ul>
</form>
</body>
</html>

<% include foot %>